html, body {
    height: 100%;
    width: 100%;
}
* 
{
    box-sizing: border-box;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    weight: 100%;
}
h1
{
    font-size: 40px;
    font-weight: 25px;
    text-transform: uppercase;
    color:  #ffffff;
    margin: 1%;
    padding: 2%;
}

body
{
    display: flex;
    flex-direction: column;
    background:  rgb(92, 55, 55);
    color:       rgb(255, 248, 214);
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
    margin: 1%;
    padding: 2%;

}
h2
{
    font-size: 25px;
    font-weight: 100px;
    text-transform: uppercase;
    color:  rgb(255, 255, 255);
    margin: 1%;
}

.box
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 auto;
    margin-top: auto;
    font-size: 20px;
}

.bio-column
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
}
.box-information
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 20px;
    padding-left: 4%;
}

.box-skills
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.education-column
{
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.skills-column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
a
{
    text-decoration: none;
    color: rgb(255, 235, 175);
    transition: color 0.5s;
} 
a:hover
{
    color: #8d661e;
}
.nav-list {
    display: flex;
    justify-content: flex-start;
    margin: 2%;
    list-style: none;
    white-space: nowrap;
    padding-left: 2%;
  }
footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 235, 175);
    flex-shrink: 0;
    margin-top: auto;
    font-size: 20px;
} 
hr
{
    width: 100%;
    margin: 30px auto;
    border: 1px solid  #846b3c;
}

  